@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Coda:wght@800&family=Gidugu&family=Ubuntu:wght@300&display=swap');
:root {
  --font-body: 'Amatic SC', Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
  background-color: rgb(247, 236, 171);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  flex-wrap: wrap;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}

/*This section is for the nav and search bar items*/
.search-bar-container {
  display: block;
  width: 100%;
}

#search {
  font-size: 1rem;
}

#category-search {
  font-size: 1rem;
  height: 1.5rem;
}

.category-searchbar-label {
  margin-right: -5px;
}

.product-search-card.hide {
  display: none;
}

.product-search-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  padding: 0.5rem 0.5rem;
}

.product-search-card {
  display: grid;
  grid-template-columns: 100px 1fr 150px;
  list-style: none;
  border: solid black 0.1rem;
  padding: 0.5rem 1rem;
}

.product-search-card a img {
  width: 90%;
}

.product-search-card a {
  text-decoration: none;
  color: black;
  font-size: 0.7rem;
}

.product-search-price {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
}
.hero {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  
}
.hero .logo {
  position: sticky;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}

.icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.icons a {
  font-style: normal;
  text-decoration: none;
  color: black;
  text-align: center;
}

.category-title {
  text-transform: capitalize;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 5px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  display: flex;
  margin: auto;
  font-size: 30px;
  border: 0;
  cursor: pointer;
  
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}

#cart-count {
  position: absolute;
  top: 5px;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 10px;
}

#checkoutBtn {
  display: none;
}

/* Checkout Form */

form {
  max-width: 500px;
  margin: 0 auto;
}

form label.form-label {
  display: block;
  margin-top: 0.5rem;
}

form input {
  display: block;
  width: 95%;
  height: 44px;
  font-size: 1rem;
}

#checkout-btn {
  margin: 1rem auto;
}

.alert {
  background-color: #f0a868;
  border: #f69d3d 4px solid;
  max-width: 80%;
  margin: 1rem auto;
  padding-left: 2rem;
  position: relative;
  padding: 0.5rem;
}

.alert p {
  display: inline;
}

#closeX {
  position: absolute;
  right: 5%;
}
/* NewsLetter Style*/
.newsletterbox {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px black solid;
  margin: auto;
  margin-bottom: 20px;
  width: 500px;
}
/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}
.product-card img {
  margin: 1.5rem auto;
  display: block;
}

.quick-view {
  font-size: 2.5rem;
  padding: 0.1rem 0.5rem;
  text-align: center;
  align-items: center;
}

.modal {
  animation: blowUp 0.5s ease-out;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  width: 650px;
  height: 70%;
  padding: 1.3rem;
  min-height: 250px;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
  text-align: center;
}

.modal button.close {
  position: fixed;
  top: 5px;
  left: 5px;
  padding: 1rem;
}

.modal section {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.modal section h2 {
  margin: 1rem;
}

.modal section img,
div.product-price-discount {
  margin: 1rem auto;
}
.modal section div.product-price-discount {
  margin: auto;
}

.modal section p#productDescriptionHtmlSimple {
  padding: 0.5rem 1.5rem 0.5rem;
}

.modal div.product-detail__add {
  margin: 2rem auto;
}

.modal section #discountFlag {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

@media screen and (max-width: 700px) {
  .modal {
    width: 95%;
    height: 95%;
    flex-direction: column;
    overflow-y: scroll;
  }

  .modal section h3 {
    margin-top: 2.5rem;
  }
  .modal section h2 {
    grid-column: 1/8;
    font-size: 1em;
  }

  .modal button.close {
    position: relative;

    justify-content: center;
  }

  .modal section img {
    display: block;
    margin: 0 auto;
    height: 80%;
  }

  .modal section label {
    margin: auto;
  }

  .modal section #discountFlag {
    display: none;
  }
}

@keyframes blowUp {
  0% {
    transform: scale(0) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

.modal img {
  display: block;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

.product-card__discount {
  color: red;
  font-style: italic;
}
.breadcrumbs {
  padding: 10px;
  font-size: 18px;
  display: flex;
}
.breadcrumbs li {
  padding: 5px;
  text-decoration: none;
  list-style-type: none;
}

/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: 4em auto;
  background-color: var(--light-grey);
}

.product-detail img {
  width: 100%;
}

#discountFlag {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 55%);
  transform: translate(-50%, 55%);
  width: 100px;
  padding: 15px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 1.4em;
  border: 4px solid #ffffff;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
  max-width: 600px;
  gap: 5px;
}

.cart-card__image {
  grid-row: 1/4;
  grid-column: 1;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
  padding: 5px 0px;
  margin-bottom: 0px;
}

.cart-card__quantity {
  grid-row: 3;
  grid-column: 2;
  padding: 0px;
}

.productQuantity {
  max-width: 3rem;
  text-align: center;
}

.cart-card__price {
  grid-row: 3;
  grid-column: 3;
  text-align: center;
  margin: 1rem;
}

.productQuantity {
  padding: 1px 5px;
  font-size: inherit;
}

#closeBtn {
  grid-row: 1;
  grid-column: 3;
  padding: 0.5rem 1rem;
}

/* Style Cart Total*/
.cart-total-box {
  display: none;
}

.cart-total {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

/* Product price discount */
.line-through {
  text-decoration: line-through;
  font-size: 0.8em;
  color: #a5a5a5;
  align-self: flex-end;
}

.product-price-discount {
  font-size: 1.4em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.product-price-discount p {
  margin: 0 0.3em;
}

.product-detail__add {
  margin-bottom: 3.5em;
}

.product__quantity {
  display: block;
  margin: 1rem 0px;
  text-align: center;
}

#product-selected-qty {
  padding: 0.3rem 1em;
  margin: 1rem 0.5rem;
  font-size: 1rem;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}

/*Header*/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}


/* Add any other necessary styles for your navigation links */
.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.nav-buttons a {
  margin: 0 10px; 
  text-decoration: none;
  color: rgb(255, 255, 255); 
  background-color: rgb(92, 70, 63);
  margin: 10px;
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.nav-buttons a:hover {
  scale: 1.2;
  transition-duration: 0.5s;
  background-color: rgb(129, 255, 97);
  color: black;
}

.recipeCarousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: absolute;
  top: -200px;
  left: -200px;
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin-left: 0px;
}
.slider {
  opacity: 0;
  transition: 1s;
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.on {
  opacity: 1;
}

.recipe-info {
  padding: 10px;
}

.buttons-control {
  z-index: 1000;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 50px 50px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.buttons-control button {
  align-self: center; 
  margin-right: 10px; 
  font-size: 25px;
}

.products {
  z-index: 2000;
}

.hero-content {
  display: flex;
}










*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --tenne-tawny: #d65108;
    --tenne-tawny-dark: #b54507;
}
body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
}

/*  */
.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}






/*  */
.container{
    min-height: 100vh;
    z-index: 10000;
    position: relative;
    
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    text-align: center;
}
.meal-search{
    margin: 2rem 0;
}
.meal-search cite{
    font-size: 1rem;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}
.search-control,
.search-btn{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid rgb(129, 255, 97);
    color: rgb(92, 70, 63);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: rgb(92, 70, 63);
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: rgb(129, 255, 97);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.search-btn:hover{
    background: rgb(68, 145, 49);
}
.meal-result{
    margin-top: 4rem;
}
#meal{
    margin: 2.4rem 0;
}
.meal-item{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}
.meal-img img{
    width: 100%;
    display: block;
}
.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}
.recipe-btn{
    text-decoration: none;
    color: #fff;
    background: var(--tenne-tawny);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-btn:hover{
    background: var(--tenne-tawny-dark);
}

/* meal details */
.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    background: var(--tenne-tawny);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}
.meal-details::-webkit-scrollbar{
    width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
    background: #f0f0f0;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


/* js related */
.showRecipe{
    display: block;
}

.meal-details-content{
    margin: 2rem;
}
.meal-details-content p:not(.recipe-category){
    padding: 1rem 0;
}
.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.recipe-instruct{
    padding: 1rem 0;
}
.recipe-meal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.recipe-link{
    margin: 1.4rem 0;
}
.recipe-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-link a:hover{
    opacity: 0.8;
}


/*  */
.notFound{
    grid-template-columns: 1fr!important;
    color: var(--tenne-tawny);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}






/* Media Queries */
@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
}